include *.py 
recursive-include ons_ras_common *.py
include config.ini
include local.ini
include swagger.yaml
include skeleton.py
include runtime.txt
include Procfile
include requirements.txt
include README.rst
include *.md
include *.txt
include *.yaml
include .coveragerc
include LICENSE
include Makefile
include .cfignore
recursive-include scripts *.sh
recursive-include test *.py
